:root {
  color-scheme: light dark;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --arx-ui-width: 384px;
  --arx-ui-height: 600px;
}

html,
body,
#root {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}
html,
body {
  overflow: hidden;
}
body {
  min-width: var(--arx-ui-width);
  min-height: var(--arx-ui-height);
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
